<footer class="caja">
    <div class="row" style="margin-top: 20px;">
        <div class="col-6 text-center">
            <a href="https://github.com/NoeMC">
                <img src=" ./assets/imagenes/github.svg " href class="tam ">
            </a>
            <a href="https://www.linkedin.com/in/noé-méndez-carranza-a90432165">
                <img src="./assets/imagenes/linkedin.svg " class="tam ">
            </a>
        </div>
        <div class="col-6 text-center ">
            <p class="footerfont ">
                Copyright 2020 © Noe Mendez
            </p>
        </div>
    </div>
</footer>




<!-- <div>Iconos diseñados por <a href="http://www.freepik.com " title="Freepik ">Freepik</a> from <a href="https://www.flaticon.es/ " title="Flaticon ">www.flaticon.es</a></div>
-->