.estilo1 {
    background-color: #0d47a1;
}

.estilo2 {
    background-color: #1c427c;
}

.estilo3 {
    background-color: #0d47a1;
}

.fuenteNav {
    font-size: x-large;
    font-family: monospace;
}