<div class="containter">
    <div class="row banner">
        <section class="container_img"></section>
        <div class="col-lg-6 col-md-6 col-sm-12 centrador">
            <img src="../../../assets/imagenes/perfil.jpeg" class="imagen">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 centrador">
            <h1 class="titulo text-white text-center">Noe Mendez Carranza
                <h5>"Ing. Ciencias de la Computación"</h5>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="../../../assets/imagenes/algoritmo.jpg" class="imagenC img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 parrafoAlineado">
            <h4 class="bordes text-left citas">"La Ciencia de la Computación tiene que ver con las computadoras lo que la Astronomía con los telescopios" --Dijkstra</h4>
        </div>
    </div>
    <hr class="lineaDivisora">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <app-terminal></app-terminal>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 parrafoAlineado">
            <div class="bordes">
                <h4 class="subtitulos">CISCO CCNA</h4>
                <br>
                <p>Durante mi estancia en la universidad tome cursos de redes de la empresa Cisco, cuento con certificaciones del los cursos 1, 2 y 3. A lo largo de estos cursos desarrolle habilidades y conocimientos tanto teoricos como practicos, de protocolos
                    de capa 2 y 3: SPT, EtherChannel, VLAN, VTP, DTP, OSPF, EIGRP, Acess List, DHCP, etc.</p>
            </div>
        </div>

    </div>
    <hr class="lineaDivisora">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 parrafoAlineado">
            <div class="bordes">
                <h4 class="subtitulos">DESARROLLO WEB</h4>
                <br>
                <p>El Front-end de esta pagina lo desarrolle usando HTML5, CSS3 y Angular 9 como framework de desarrollo, la parte del Back-end usando NodeJs.</p>
                <p>He tomado cursos de desarrollo web, de tecnologias como Angular, NodeJs, Java Spring y estoy documentandome de otras como ReactJs y Laravel.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <app-radar-habilidad></app-radar-habilidad>
        </div>

    </div>
    <hr class="lineaDivisora">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <app-barra-habilidad></app-barra-habilidad>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 parrafoAlineado">
            <div class="bordes">
                <h4 class="subtitulos">LENGUAJES DE PROGRAMACIÓN</h4>
                <br>
                <p>Cuando empece a conocer el mundo de los lenguajes de programacion, pense que debia saber todos los lenjuades que existen, sin embargo al aprender de ellos noté que habia muchas similitudes entre si y que en realidad no era necesario aprender
                    de memoria, sino tener simientos solidos de las mejores practicas para el desarrollo de software y la mejor aplicacion que se les puede dar. </p>
            </div>
        </div>

    </div>
    <hr class="lineaDivisora">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 parrafoAlineado">
            <div class="bordes">
                <h4 class="subtitulos">OTROS INTERESES</h4>
                <br>
                <p>Me encanta aprender cosas nuevas y comprender el mundo que me rodea; Otras areas que son de mi interes y estoy en el proceso de aprendizaje son: data science, movile development y cibersecurity.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 parrafoAlineado">
            <div class="bordes">
                <h5 class="citas">"Todo lo que tu mano halle que hacer, hazlo con tu mismo poder, porque no hay trabajo ni formación de proyectos ni conocimiento ni sabiduría en el Seol, el lugar adonde vas."</h5>
                <p class="subtitulos" style="text-align: right;">--Eclesiastés 9:10</p>
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>