<div class="margenes">
    <div class=fakeMenu>
        <div class="fakeButtons fakeClose"></div>
        <div class="fakeButtons fakeMinimize"></div>
        <div class="fakeButtons fakeZoom"></div>
    </div>
    <div class="fakeScreen">
        <p class="line1">R1(config)$ router ospf 1</p>
        <p class="line1">R1(config-router)$ network 141.27.0.0 0.0.128.255 area 0 </p>
        <p class="line1">R1(config-router)$ passive interface g0/1</p>
        <p class="line1">R1(config-router)$<span class="cursor4">_</span></p>
    </div>
</div>